@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/*
    :root选择器用匹配文档的根元素,在HTML中根元素始终是HTML元素
    除了优先级更高之外，与 html 选择器相同。
 */
:root {
    /* 据说的原生CSS定义变量的方式 */
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

/* 中间的蓝色横线 */
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    /* 字体样式从  父元素继承。 */
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

/* :active向活动的链接添加特殊的样式 */
.btn:active {
    /* scale(x[,y]?)	定义 2D 缩放转换 */
    transform: scale(0.98);
}

/* :focus选择器用于选择具有焦点的元素 */
.btn:focus {
    /* 设置元素周围的轮廓 */
    outline: 0;
}

/* :disabled 选择器匹配每个禁用的的元素（主要用于表单元素） */
.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}