@font-face {
  font-family: "iconfont"; /* Project id 3499567 */
  src: url('iconfont.woff2?t=1657119447493') format('woff2'),
       url('iconfont.woff?t=1657119447493') format('woff'),
       url('iconfont.ttf?t=1657119447493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazai_shuaxin_o:before {
  content: "\eb7b";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-rising:before {
  content: "\e703";
}

.icon-arrow-right1:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-close:before {
  content: "\e747";
}

.icon-double-arro-right:before {
  content: "\e74c";
}

.icon-double-arrow-left:before {
  content: "\e74d";
}

.icon-falling:before {
  content: "\e750";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-Rightarrow:before {
  content: "\e761";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-cart-Empty-fill:before {
  content: "\e77a";
}

.icon-cart-Empty:before {
  content: "\e7b2";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

