@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    /* 设置主轴方向 从上到下 */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    /* 
    设置旋转元素的基点位置 
    transform-origin: x-axis y-axis z-axis;
    默认值 transform-origin:50% 50% 0;
    */
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    /* letter-spacing属性是增加（值为正）或减少（值为负）字符间距； */
    letter-spacing: 0.3px;
    /* 
    text-transform属性来对文本进行大小写转换，取值为 none | capitalize | uppercase | lowercase | full-width，默认为 none 
    capitalize 文本中的每个单词以大写字母开头
    lowercase 定义无大写字母，仅有小写字母
    uppercase 定义无小写字母，仅有大写字母
    inherit 规定应该从父元素继承text-transform属性的值
    full-width 表示将所有字符转换成全角形式（全角占两个字节，半角占一个字节）
    */
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}